[Unit]
Description=macchanger all
Wants=network-pre.target
Before=network-pre.target
BindsTo=sys-subsystem-net-devices-eno1.device
BindsTo=sys-subsystem-net-devices-enp3s0f0.device
BindsTo=sys-subsystem-net-devices-enp3s0f1.device
BindsTo=sys-subsystem-net-devices-enp1s0f0.device
BindsTo=sys-subsystem-net-devices-enp1s0f1.device
After=sys-subsystem-net-devices-eno1.device
After=sys-subsystem-net-devices-enp3s0f0.device
After=sys-subsystem-net-devices-enp3s0f1.device
After=sys-subsystem-net-devices-enp1s0f0.device
After=sys-subsystem-net-devices-enp1s0f1.device

[Service]
ExecStart=/usr/bin/macchanger -e eno1
ExecStart=/usr/bin/macchanger -e enp3s0f0
ExecStart=/usr/bin/macchanger -e enp3s0f1
ExecStart=/usr/bin/macchanger -e enp1s0f0
ExecStart=/usr/bin/macchanger -e enp1s0f1
Type=oneshot

[Install]
WantedBy=multi-user.target
