[Unit]
Description=Set txqueuelen
After=network.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ip l set eth0 txqueuelen 5000
ExecStart=/usr/bin/ip l set ens3 txqueuelen 5000

[Install]
WantedBy=multi-user.target
